numpy
pandas
scikit-learn
matplotlib
seaborn
jupyter
ipykernel
pyyaml
joblib
tqdm

torch==2.11.0
torch-geometric

--find-links https://data.pyg.org/whl/torch-2.11.0+cu130.html
pyg-lib
torch-sparse

lifelines
scikit-survival